*{
  margin: 0;
  padding: 0;
}

/* navbar */

.navbar{
  padding: 1rem 0 0 1rem;
  border-bottom: 1px solid black;
}
.navbar-nav{
  width: 100%;
  margin-left: 50rem;
  padding: 0 2rem 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
}
.navbar-brand{
  padding-top: 1rem;
}
.social{
  padding-top: 1rem;
}
/* Home page */

.body{
  display: flex;
  
}
.hero-text{
  font-family: 'Noto Serif', serif;
  font-weight: bold;
}